/node_modules
/packages
/public_html
/public/hot
/public/uploads
/public/storage
/public/adminer-4.8.1.php
/storage/*.key
/vendor
.bash_history
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.tmp
/.docker-data
