@import "bootstrap/dist/css/bootstrap.css";
@import "highlight.js/styles/default.css";
@import "mindmap.css";

html, body {
    background: white;
}

.img-site-home,
.img-site-post {
    width: 65%;
}

.img-site-pic {
    width: 100%;
}

.img-site-book {
    margin: 5px;
    width: auto;
    max-height: 200px;
}

/* make sidebar nav vertical */
@media (min-width: 768px) {
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
    }

    .sidebar-nav .navbar ul {
        float: none;
        overflow: auto;
    }

    .sidebar-nav .navbar ul:not {
        display: block;
    }

    .sidebar-nav .navbar li {
        float: none;
        display: block;
        border-bottom: rgb(245, 245, 245) 1px solid;
    }

    .sidebar-nav .navbar li:last-child {
        border-bottom: none;
    }

    .sidebar-nav .navbar li a {
        /*padding-top: 12px;*/
        /*padding-bottom: 12px;*/
    }

    .sidebar-nav .menu-sidebar-level-2 {
        display: block;
        position: relative;
        border: none;
        border-radius: 0;
        box-shadow: none;
    }

    .sidebar-nav .menu-sidebar-level-next {
        display: block;
        position: relative;
        border: none;
        border-radius: 0;
        box-shadow: none;
        padding-left: 15px;
    }

    .sidebar-nav .menu-sidebar-level-next ul {
    }

    .sidebar-nav .menu-sidebar-level-next li {
        border-left: rgb(193, 193, 193) 1px solid;
    }

    .sidebar-nav .menu-sidebar-level-next a {
        padding: 3px 10px;
    }
}

.search-sot {
    display: inline-block;
    padding: 5px;
    background: yellow;
    border-radius: 10px;
    border: #afafaf 3px solid;
    font-width: bold;
    font-size: 15px;
    font-color: black;
}
