@import "bootstrap/dist/css/bootstrap.css";
@import "highlight.js/styles/default.css";
@import "../libraries/mindmap/dist/mindmap.css";

html, body {
    background: white;
}

.img-site-home,
.img-site-post,
.img-site-pic {
    width: 100%;
}

.img-site-book {
    margin: 5px;
    width: auto;
    max-height: 200px;
}
